* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
}

main {
  form {
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: 100vh;
    gap: 2rem;
    justify-content: center;

    h1 {
      font-weight: 500;

      span {
        content: "Overlegplatform";
        display: inline-flex;
        background-color: azure;
        padding: 5px 10px 0px;
        color: black;
      }
    }

    div:nth-of-type(1) {
      display: grid;
      gap: 10px;

      div {
        display: inline-flex;
        flex-wrap: wrap;
        gap: 10px;

        button {
          padding: 7px 20px;
          background: none;
          color: white;
          border: 1px solid var(--white-color);
        }
      }
    }

    div:nth-of-type(2) {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      input {
        height: 40px;
        background: none;
        border-bottom: 1px solid white;
        color: white;

        &:last-child {
          height: 70px;
        }

        &::placeholder {
          color: white;
        }
      }
    }
  }
}
