footer:nth-of-type(1) {
  background-color: var(--white-color);
  padding: 20px;
  position: relative;

  ul:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    gap: 20px;

    li {
      details {
        summary {
          width: 100%;
          list-style: none;

          p {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &::after {
              content: url(../assets/chevron.svg);
            }
          }
        }

        div {
          display: flex;
          flex-direction: column;
          gap: 5px;
          padding-top: 10px;
        }
      }

      details:open > summary > p::after {
        rotate: 90deg;
        transition: 0.2s;
      }
    }
  }
}

footer:nth-of-type(2) {
  background-color: whitesmoke;
  width: 100%;
  display: block;
  padding: 10px 20px;
}
