body.no-scroll {
  overflow: hidden;
}

.image-logo {
  height: 150px;
  mix-blend-mode: darken;
}

header {
  display: flex;

  ul {
    padding: 0 30px;
    display: flex;
    height: 100px;
    position: absolute;
    display: none;
    width: 100%;
    align-items: center;

    li {
      display: flex;
      gap: 15px;
      align-items: center;

      .light-dark__btn {
        display: flex;
      }

      a {
        color: white;
        font-size: 0.9rem;
        text-decoration: none;
      }

      img {
        height: 40px;
      }

      button {
        background: none;
        border: none;
        cursor: pointer;
        display: none;
      }
    }
  }

  nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 80%;
    height: 100vh;
    background-color: white;
    z-index: 1000;
    transition: all 0.3s ease;

    &.hidden {
      opacity: 0;
      pointer-events: none;
      transform: translateY(-20px);
    }

    button {
      svg {
        rotate: 45deg;
        right: 30px;
        top: 20px;
        z-index: 10;
        cursor: pointer;
        fill: black;
        position: absolute;
      }
    }

    ul {
      padding: 0 30px;
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      gap: 40px;

      li a {
        font-size: 1.2rem;
        text-transform: uppercase;
        padding: 12px 16px;
        text-decoration: none;
        color: #333;

        &:hover {
          background: #f4f4f4;
        }
      }
    }
  }
}

.nav-links {
  display: flex;
  gap: 25px;
  justify-content: center;

  div:nth-of-type(1) {
    position: absolute;
    left: 50px;
  }

  div:nth-of-type(2) {
    display: flex;
    gap: 20px;
  }

  a {
    color: black;
    font-weight: 500;
    font-size: 1.05rem;
  }
}

#hamburger {
  display: none;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  #hamburger {
    display: block;
  }
}

.menu-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 900;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.menu-bg.active {
  opacity: 1;
  pointer-events: auto;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  #hamburger {
    display: block;
  }
}
