*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  color: black !important;
}

main {
  section:nth-of-type(1) {
    padding: 1.5rem 1.5rem 5rem 1.5rem;
    text-align: center;
    height: 80lvh;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 25px;
    flex-direction: column;

    ul:nth-of-type(1) {
      display: flex;
      flex-direction: column;
      gap: 30px;
      align-items: center;

      li {
        h1 {
          display: flex;
          font-weight: var(--font-weight-standard);
          flex-direction: column;
          line-height: var(--line-height-heading);

          span {
            background: var(--primary-color);
            border-radius: var(--border-radius);
            color: var(--white-color);
            padding: 10px 10px 5px 10px;
            color: white;
          }
        }

        &:nth-of-type(1) {
          p {
            color: grey;
            font-size: 0.9rem;
          }
        }

        p {
          line-height: var(--line-height-text);
        }

        a {
          display: inline-flex;
          align-items: center;
          gap: 5px;
          padding: var(--button-size);
          letter-spacing: var(--letter-spacing);
          text-transform: var(--text-uppercase);
          background-color: var(--primary-color);
          border: var(--border-none);
          border-radius: var(--border-radius);
          font-family: var(--font-family);
          color: var(--white-color);
          cursor: pointer;
          text-decoration: none;

          p {
            transform: translateY(2px);
          }
        }
      }
    }

    .auto-scroll {
      position: relative;
      width: 100%;
      overflow: hidden;
      padding: 30px 0;
      display: flex;
      height: 200px !important;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 0;
        width: 100px;
        height: 100%;
        z-index: 2;
        pointer-events: none;
      }

      &::after {
        right: 0;
        background: linear-gradient(to left, white 0%, transparent 100%);
      }

      &::before {
        left: 0;
        background: linear-gradient(to right, white 0%, transparent 100%);
      }

      .scroll-baan {
        display: flex;
        gap: 70px;
        animation: scroll 30s linear infinite;
        width: max-content;
        align-items: center;
      }

      .scroll-baan img {
        max-height: 80px;
        filter: grayscale(1);
        object-fit: cover;
      }
    }
  }
  section:nth-of-type(2) {
    min-height: 100vh;
    background-color: var(--primary-color);
    padding: 40px 20px;

    h2 {
      color: white;
      font-weight: 500;
      font-size: var(--font-size-heading-m);
      padding: 20px;
    }

    ul {
      padding-top: 40px;

      li {
        display: flex;
        flex-direction: column;
        gap: 50px;

        article {
          height: 350px;
          background-color: white;

          div:nth-of-type(1) {
            background-image: url(../assets/images/neat.png);
            height: 50%;
          }

          div:nth-of-type(2) {
            height: 30%;
            padding: 0 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;

            p:nth-of-type(1) {
              color: lightgrey;
            }
          }

          div:nth-of-type(3) {
            height: 20%;
            display: flex;
            gap: 20px;
            align-items: center;
            background: whitesmoke;
            padding: 0 20px;

            img {
              width: 40px;
            }
          }
        }
      }
    }
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
