*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(rgba(224 224 224 / 0.5) 1px, transparent 1px) 0 0 /
      50px 50px,
    linear-gradient(90deg, rgba(224 224 224 / 0.5) 1px, transparent 1px) 0 0 /
      50px 50px;
}

button {
  color: black !important;
}

main {
  p,
  h2 {
    max-width: 30rem;
  }
  section:nth-of-type(1) {
    padding: 1rem 1rem 80px 1rem;
    height: 100dvh;
    display: flex;
    gap: 4rem;
    align-items: center;
    flex-direction: column;

    @media (min-width: 1000px) {
      flex-direction: row-reverse;
      gap: 0;

      ul {
        height: 100%;
      }
    }

    ul:nth-of-type(1) {
      background-image: url(../assets/images/neat.png);
      list-style-type: none;
      height: 50%;
      border-radius: 4px;
      width: 100%;

      @media (min-width: 1000px) {
        display: none;
      }
    }

    ul:nth-of-type(2) {
      display: flex;
      flex-direction: column;
      list-style: none;
      gap: 20px;
      align-items: center;

      @media (min-width: 1000px) {
        justify-content: center;
        width: 100%;
        text-align: center;
      }

      li {
        @media (min-width: 1000px) {
        }

        span::after {
          /* background-color: black;
          color: white;
          display: inline-block;
          padding: 7px 10px;
          font-family: math; */
          content: "overlegplatform";
        }

        h1 {
          font-weight: 500;
          display: inline-block;
          flex-direction: column;
          max-width: 40rem;
          line-height: 1.2;
          font-size: clamp(2.5rem, 5vw, 4rem);
        }

        a {
          padding: 10px 20px;
          text-decoration: none;
          display: flex;
          align-items: center;
          gap: 5px;

          &:first-of-type {
            color: white;
            background-color: black;
          }

          &:last-of-type {
            color: black;
            border: 1px solid black;
          }
        }

        &:last-of-type {
          display: flex;
          gap: 2rem;
        }
      }

      &:nth-of-type(1) {
        p {
          font-size: 1.1rem;
        }
      }

      &:nth-of-type(4) {
        display: flex;
        gap: 20px;
        flex-wrap: nowrap;
        align-items: center;

        a {
          display: inline-flex;
          flex-shrink: 0;
          text-decoration: none;
        }
      }

      p {
        line-height: var(--line-height-text);
      }

      a {
        p {
          transform: translateY(2px);
        }
      }
    }
  }

  section:nth-of-type(2) {
    background-color: var(--primary-color);
    padding: 80px 2rem;

    ul:nth-of-type(1) {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      list-style: none;

      li {
        h2 {
          color: white;
          font-weight: 500;
          font-size: clamp(2rem, 2.5vw, 4rem);

          span::after {
            content: "artikelen";
            display: inline-flex;
            background-color: azure;
            padding: 5px 10px 0px;
            color: black;
          }
        }

        a {
          color: var(--primary-lighter-color);
        }

        p {
          color: var(--white-color);
          line-height: var(--line-height-text);
        }
      }
    }

    ul:nth-of-type(2) {
      padding-top: 80px;

      li {
        display: flex;
        gap: 50px;
        justify-content: center;
        flex-wrap: wrap;

        @media (max-width: 1000px) {
          justify-content: center;
        }

        article {
          height: 350px;
          background-color: rgba(0 0 0 / 0.5);
          color: white;

          @media (min-width: 1000px) {
            max-width: 30%;
          }

          div:nth-of-type(1) {
            background-image: url(../assets/images/neat.png);
            height: 55%;
          }

          div:nth-of-type(2) {
            height: 27.5%;
            padding: 0 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;

            p:nth-of-type(1) {
              color: rgb(194, 194, 194);
            }

            p:nth-of-type(2) {
              font-weight: 500;
            }
          }

          div:nth-of-type(3) {
            height: 12.5%;
            display: flex;
            gap: 20px;
            align-items: center;
            padding: 0 20px;

            img {
              width: 30px;
            }
          }
        }
      }
    }
  }

  section:nth-of-type(3) {
    min-height: 30vh;
    padding: 80px 2rem;
    display: flex;
    flex-direction: column;
    gap: 30px;

    ul:nth-of-type(1) {
      display: flex;
      flex-direction: column;
      gap: 15px;
      list-style: none;

      li {
        h2 {
          color: black;
          font-weight: 500;
          font-size: clamp(2rem, 2.5vw, 4rem);

          span::after {
            content: "hogescholen";
            display: inline-flex;
            background-color: black;
            padding: 5px 10px 0px;
            color: white;
          }
        }

        a {
          color: var(--primary-color);
        }

        p {
          color: var(--black-color);
          line-height: var(--line-height-text);
        }
      }
    }

    .auto-scroll {
      position: relative;
      width: 100%;
      overflow: hidden;
      padding: 30px 0;
      display: flex;
      height: 200px !important;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 0;
        width: 100px;
        height: 100%;
        z-index: 2;
        pointer-events: none;
      }

      &::after {
        right: 0;
        background: linear-gradient(to left, white 0%, transparent 100%);
      }

      &::before {
        left: 0;
        background: linear-gradient(to right, white 0%, transparent 100%);
      }

      .scroll-baan {
        display: flex;
        gap: 70px;
        animation: scroll 22s linear infinite;
        width: max-content;
        align-items: center;
      }

      .scroll-baan img {
        max-height: 80px;
        filter: grayscale(1);
        object-fit: cover;
      }
    }
  }

  section:nth-of-type(4) {
    min-height: 100vh;
    background: var(--primary-color);
    padding: 80px 2rem;
    display: flex;
    flex-direction: column;
    gap: 40px;

    @media (min-width: 1000px) {
      min-height: 100vh;
      display: grid;
      grid-template-rows: auto 1fr;
      gap: 80px;
    }

    ul:nth-of-type(1) {
      display: flex;
      flex-direction: column;
      list-style: none;
      gap: 15px;

      @media (min-width: 1000px) {
        grid-column: 1 / -1;
      }

      li {
        h2 {
          color: var(--white-color);
          font-weight: 500;
          font-size: clamp(2rem, 2.5vw, 4rem);

          span::after {
            content: "Overlegplatform";
            display: inline-flex;
            background-color: azure;
            padding: 5px 10px 0px;
            color: black;
          }
        }

        a {
          color: var(--primary-lighter-color);
        }

        p {
          color: var(--white-color);
          line-height: var(--line-height-text);
        }
      }
    }

    ul:nth-of-type(2) {
      display: flex;
      flex-direction: column;
      gap: 20px;

      @media (min-width: 1000px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 10px;
      }

      li {
        cursor: pointer;

        @media (min-width: 1000px) {
          height: 100%;
        }

        article {
          div {
            display: flex;
            gap: 30px;
            align-items: center;
            flex-wrap: wrap;
            position: relative;

            a {
              height: 50px;
              width: 50px;
              background-color: var(--white-color);
              border-radius: 50%;
              display: grid;
              place-content: center;
              border-radius: 50%;
            }

            p:nth-of-type(2) {
              font-size: 1rem;
            }
          }
        }

        &:nth-of-type(1) {
          article {
            background-image: url(../assets/images/article-1.jpg);
            background-position: center;
            background-size: cover;
          }
        }

        &:nth-of-type(2) {
          article {
            background-image: url(../assets/images/article-3.png);
            background-size: cover;
          }
        }

        &:nth-of-type(3) {
          article {
            background-image: url(../assets/images/article-2.jpg);
            background-position: center;
            background-size: cover;
          }
        }
        &:nth-of-type(4) {
          article {
            background-image: url(../assets/images/article-2.jpg);
            background-position: center;
            background-size: cover;
          }
        }
        &:nth-of-type(5) {
          article {
            background-image: url(../assets/images/article-2.jpg);
            background-position: center;
            background-size: cover;
          }
        }
        &:nth-of-type(6) {
          article {
            background-image: url(../assets/images/article-2.jpg);
            background-position: center;
            background-size: cover;
          }
        }

        article {
          background-color: white;
          width: 100%;
          color: white;
          height: 220px;
          position: relative;
          padding: 20px;

          div:nth-of-type(1) {
            background-color: rgb(0 0 0 / 60%);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
          }

          p {
            font-weight: var(--font-weight-heading);
            font-size: 2rem;
          }
        }
      }
    }
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
