*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  color: black !important;
}

main {
  p,
  h2 {
    max-width: 40rem;
  }
  section:nth-of-type(1) {
    padding: 1rem;
    height: 100dvh;
    display: flex;
    gap: 4rem;
    align-items: center;
    flex-direction: column;

    ul:nth-of-type(1) {
      background-image: url(../assets/images/neat.png);
      list-style-type: none;
      height: 50%;
      border-radius: 4px;
      width: 100%;
    }

    ul:nth-of-type(2) {
      display: flex;
      flex-direction: column;
     list-style: none;
      gap: 20px;
      align-items: center;

      li {
        h1 {
          display: flex;
          font-weight: 500;
          flex-direction: column;
          line-height: 1;

          /* &::after {
            display: inline-block;
            content: 'Overlegplatform associate degrees';
            color: rgba(0 0 0 / 0.15);
          } */
        }

          span {
            background: black;
            border-radius: var(--border-radius);
            color: var(--white-color);
            font-family: none;
            padding: 5px 10px;

            p {
              line-height: 1.3;
              transform: translateY(-2px);
            }
          }
        }

        &:nth-of-type(1) {
          p {
            font-size: 1.1rem;;
          }
        }

        &:nth-of-type(4) {
          display: flex;
          gap: 20px;
          flex-wrap: nowrap;
          align-items: center;

          a {
            display: inline-flex;
            flex-shrink: 0;
            text-decoration: none;
          }
        }
        

        p {
          line-height: var(--line-height-text);
        }

        a {
          display: inline-flex;
          align-items: center;
          gap: 5px;
          padding: var(--button-size);
          letter-spacing: var(--letter-spacing);
          text-transform: var(--text-uppercase);
          background-color: var(--primary-color);
          border: var(--border-none);
          border-radius: var(--border-radius);
          font-family: var(--font-family);
          color: var(--white-color);
          cursor: pointer;
          text-decoration: none;

          p {
            transform: translateY(2px);
          }
        }
      }
    }
  }

  section:nth-of-type(2) {
    min-height: 100vh;
    background-color: var(--primary-color);
    padding: 40px 20px;

    ul:nth-of-type(1) {
      display: flex;
      flex-direction: column;
      gap: 15px;
      list-style: none;

      li {
        h2 {
          color: white;
          font-weight: 500;
          font-size: clamp(2rem, 2.5vw, 4rem);
          
          span::after {
            content: 'artikelen';
            display: inline-flex;
            background-color: azure;
            padding: 5px 10px 0px;
            color: black;
          }
        }

        a {
          color: var(--primary-lighter-color);
        }

        p {
          color: var(--white-color);
          line-height: var(--line-height-text);
        }
      }
    }

    ul:nth-of-type(2) {
      padding-top: 40px;

      li {
        display: flex;
        flex-direction: column;
        gap: 50px;

        article {
          height: 350px;
          background-color: rgba(0 0 0 / .5);
          color: white;

          div:nth-of-type(1) {
            background-image: url(../assets/images/neat.png);
            height: 55%;
          }

          div:nth-of-type(2) {
            height: 27.5%;
            padding: 0 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;

            p:nth-of-type(1) {
              color: rgb(194, 194, 194);
            }

            p:nth-of-type(2) {
              font-weight: 500;
            }
          }

          div:nth-of-type(3) {
            height: 12.5%;
            display: flex;
            gap: 20px;
            align-items: center;
            padding: 0 20px;

            img {
              width: 30px;
            }
          }
        }
      }
    }
  }

  section:nth-of-type(3) {
    min-height: 30vh;
    background-color: white;
    padding: 40px 20px;
    text-align: right;

    ul:nth-of-type(1) {
      display: flex;
      flex-direction: column;
      gap: 15px;
      list-style: none;

      li {
        h2 {
          color: black;
          font-weight: 500;
          font-size: clamp(2rem, 2.5vw, 4rem);

          span::after {
            content: 'hogescholen';
            display: inline-flex;
            background-color: black;
            padding: 5px 10px 0px;
            color: white;
          }
        }

        a {
          color: var(--primary-color);
        }

        p {
          color: var(--black-color);
          line-height: var(--line-height-text);
        }
      }
    }

    .auto-scroll {
      position: relative;
      width: 100%;
      overflow: hidden;
      padding: 30px 0;
      display: flex;
      height: 200px !important;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 0;
        width: 100px;
        height: 100%;
        z-index: 2;
        pointer-events: none;
      }

      &::after {
        right: 0;
        background: linear-gradient(to left, white 0%, transparent 100%);
      }

      &::before {
        left: 0;
        background: linear-gradient(to right, white 0%, transparent 100%);
      }

      .scroll-baan {
        display: flex;
        gap: 70px;
        animation: scroll 30s linear infinite;
        width: max-content;
        align-items: center;
      }

      .scroll-baan img {
        max-height: 80px;
        filter: grayscale(1);
        object-fit: cover;
      }
    }
  }

  section:nth-of-type(4) {
    min-height: 100vh;
    background: var(--primary-color);
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;

    @media (min-width: 1000px) {
      min-height: 100vh;
      display: grid;
      grid-template-rows: auto 1fr;
      gap: 40px;
    }

    ul:nth-of-type(1) {
      display: flex;
      flex-direction: column;
      list-style: none;
      gap: 15px;

      @media (min-width: 1000px) {
        grid-column: 1 / -1;
      }

      li {
        h2 {
          color: var(--white-color);
          font-weight: 500;
          font-size: clamp(2rem, 2.5vw, 4rem);

          span::after {
            content: 'Overlegplatform';
            display: inline-flex;
            background-color: azure;
            padding: 5px 10px 0px;
            color: black;
          }
        }

        a {
          color: var(--primary-lighter-color);
        }

        p {
          color: var(--white-color);
          line-height: var(--line-height-text);
        }
      }
    }

    ul:nth-of-type(2) {
      display: flex;
      flex-direction: column;
      gap: 20px;

      @media (min-width: 1000px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 40vh;
        gap: 10px;
      }

      li {
        cursor: pointer;

        @media (min-width: 1000px) {
          height: 100%;
        }

        article {
          div {
            display: flex;
            gap: 30px;
            align-items: center;
            flex-wrap: wrap;

            a {
              height: 50px;
              width: 50px;
              background-color: var(--primary-color);
              border-radius: 50%;
              display: grid;
              place-content: center;
              border-radius: 50%;

              svg {
                color: white;
              }
            }

            p:nth-of-type(2) {
              font-size: 1rem;
            }
          }
        }

        &:nth-of-type(1) {
          article {
            &:hover {
              color: white;
              background-image: url(../assets/images/article-1.jpg);
              background-position: center;
              background-size: cover;
              transition: 0.2s;
            }
          }
        }

        &:nth-of-type(2) {
          article {
            &:hover {
              background-image: url(../assets/images/article-3.png);
              background-position: center;
              background-size: cover;
              transition: 0.2s;
            }
          }
        }

        &:nth-of-type(3) {
          article {
            &:hover {
              background-image: url(../assets/images/article-2.jpg);
              background-position: center;
              background-size: cover;
              transition: 0.2s;
            }
          }
        }

        article {
          background-color: white;
          width: 100%;
          height: 220px;
          padding: 20px;

          p {
            font-weight: var(--font-weight-heading);
            font-size: 2rem;
          }
        }
      }
    }
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
